.mainimage {
  border-radius: 128px;
  padding: 40px;
  width: 200px;
  height: 200px;
  object-fit: cover
  }

.socialmediaicons{
  width: 48px;
  height: 48px;
  border-radius: 48px;
  object-fit: cover;
  display: flex;
}

.items{
  display: flex;
  flex-direction: column;
  gap:50px;
  max-width: 800px;
}

.body{
  background-color: #232946;
  font-family: 'Quicksand', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;

}

.displayflex{
  display:flex
}

.greeting{
  display:flex;
  color: white;
  font-size: 55px;
  }

.link_header{
  display:flex;
  color: white;
  font-size: 40px;
  }

.buttoncontainer{
  
}

.button{
  font-size: 35px;
  text-decoration: none;
  background-color: #b8c1ec;
  
  justify-content: space-between;
  display: inline-block;
  text-align: center;
  position: relative;
 

}

.sociallink{
  text-decoration: none;
  text-align: center;
  color: eebbc3;
  font-size: 30px;

  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.sociallink a {
  text-decoration: none;
  color: eebbc3;
  font-size: 30px;

  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.otherlink{
  text-decoration: none;
  color: eebbc3;
  font-size: 30px;

  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.otherlink a {
  text-decoration: none;
  color: eebbc3;
  font-size: 30px;

  display: flex;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}
