.mainimage {
  border-radius: 128px;
  padding: 40px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
}



.items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 700px;
  flex-grow: 1;
}

.displayflex {
  display: flex
}

.greeting {
  color: white;
  font-size: 55px;
  text-align: center;
  justify-content: center;

  display: flex;
}


.linkheader {
  color: white;
  font-size: 40px;
  text-align: center;
  justify-content: center;

  display: flex;
}


.linkicons {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  object-fit: cover;
  text-decoration: none;
}


.sociallink {
  background-color: #b8c1ec;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.sociallink a {
  color: eebbc3;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-size: 30px;
}

.otherlink {
  background-color: #eebbc3;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px;
}

.otherlink a {
  color: eebbc3;
  text-decoration: none;
  text-align: center;
  flex-grow: 1;
  font-size: 30px;
}
